<div class="header-wrap">
  <div class="logo-wrap">
    <div>
      <span for="Logo"> Logo</span>
    </div>
    <div>
      <span>User login</span>
      <button [routerLink]="['/Contact']">Log out</button>
    </div>
  </div>
  <div class="source-title">{{ sourceName }}</div>
  <div class="nav-bar" *ngIf="isMainPage">
    <select name="" id="">
      <option value="All source">All source</option>
      <option
        *ngFor="let channel of channels$ | async"
        value="channel.name"
      >
        {{ channel.name }}
      </option>
    </select>
    <div class="filter-wrap">
      <input type="text" placeholder="Filter by...">
      <app-gray-button
        [routerLink]="['/404']"
        buttonTitle = "Filter"
      ></app-gray-button>
    </div>
    <div>
      <input type="checkbox" name="selfCreated" id="selfCreated">
      <label for="selfCreated">Only created by me</label>
    </div>
    <app-gray-button
      [routerLink]="['/Create']"
      buttonTitle = "Add Article"
    ></app-gray-button>
  </div>
</div>