.news-detail_previw-wrap {
  display: flex;
  border: 1px solid black;
  padding: 10px 10px 30px;
  width: 80%;
  margin: 20px auto;
}

.news-detail_picture {
  height: 70px;
  width: 70px;
  display: block;
  border: 1px solid black;
}

.news-detail_description-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
}

.news-detail_title {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 10px;
}

.news-detail_description {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

.news-detail_creation-time {
  padding-bottom: 10px;
}

.news-detail_actions {
  display: flex;
  flex-direction: column;
}
