<div class="news-detail_previw-wrap">
  <div>
    <img class="news-detail_picture" src="{{post.urlToImage}}" alt="">
  </div>
  <div class="news-detail_description-wrap">
    <span class="news-detail_title">{{ post.title }}</span>
    <p class="news-detail_description">
      {{ post.content }}
    </p>
    <div class="news-detail_creation-time">
      <app-date-pipe date={{post.publishedAt}}></app-date-pipe>
    </div>
    <div>
      {{ post.author }}
    </div>
    <a href="{{post.url}}">
      See origin post
    </a>
  </div>
  <div class="news-detail_actions" *ngIf=post.custom>
    <app-gray-button
      buttonTitle = "Edit"
      [routerLink] = "['/Edit', post.title]"
    ></app-gray-button>
    <app-gray-button
      buttonTitle = "Delete"
      (click) = logDelete()
    ></app-gray-button>
  </div>
</div>
