<div class="news-previw-wrap">
  <div>
    <img class="news-picture" src="{{post.urlToImage}}" alt="">
  </div>
  <div class="news-description-wrap">
    <div>
      <span class="news-title">{{ post.title }}</span>
      <p class="news-description">{{ post.description }}</p>
      <a href=""
        [routerLink]="['/news', post.title]"
      >Read more...</a>
    </div>
    <div class="news-creation-time">
      {{publishDay}}/{{publishMonth}}/{{publishYear}}
    </div>
  </div>
  <div class="news-actions">
    <app-gray-button
      buttonTitle = "Edit"
      [routerLink]="['/Edit', post.title]"
    ></app-gray-button>
    <app-gray-button buttonTitle = "Delete"></app-gray-button>
  </div>
</div>
